{% extends 'base.html' %}


{% block titre %}
	CONNEXION
{% endblock %}

{% block main %}

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="motdepasse" class="form-label">Mot de passe</label>
                        <input type="password" class="form-control" id="motdepasse" name="password" required>
                    </div>
                    <button type="submit" class="btn btn-primary">CONNEXION</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}


