{% extends 'base_admin.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block main %}
	<main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Cours</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Horaire</li>
            </ol>
            <div class="d-flex container">
                <div class="w-50 me-5">
                {% if heures %}
                	<table class="table table-bordered w-100">
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for heure in heures %}
                                <tr>
                                    <td class="w-50">{{ heure.horaire }}</td>
                                    <td class="w-50">
                                        <a href="{% url 'alter_heure' heure.id %}" class="btn btn-success">Modifier</a>
                                        <a onclick="return confirm('Etes vous sur de vouloir supprimer cet elemet');" href="{% url 'supprimer_heure' heure.id %}" class="btn btn-danger">Supprimer</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <span class="display-3">Aucune heure n'est enregistre </span>
                {% endif %}

                </div>
                <div class="w-50 me-3">
                    {% if done %}
                    	<div class="alert alert-success">
                            <span>{{ done }}</span>
                        </div>
                    {% endif %}
                    {% if err %}
                    	<div class="alert alert-danger">
                            <span>{{ err }}</span>
                        </div>
                    {% endif %}
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <button class="btn btn-secondary mt-3">Cree</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}